<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.2.xsd">

    <!-- enable use-expressions -->
	<http  auto-config="true" use-expressions="true">
		<intercept-url pattern="/admin**" access="hasRole('ROLE_ADMIN')" />
		
		<!-- access denied page -->
		<access-denied-handler error-page="/403" />
		<form-login 
		    login-page="/login" 
		    default-target-url="/login" 
			authentication-failure-url="/login?error" 
			username-parameter="username"
			password-parameter="password" />
			
	
		<session-management invalid-session-url="/">
        	<concurrency-control expired-url="/" max-sessions="1" />
		</session-management>
    
			
			
			
		<logout logout-success-url="/" logout-url="/logout" invalidate-session="true" delete-cookies="JSESSIONID"  />
		<!-- enable csrf protection -->
		<csrf/>
	</http>
	<beans:bean id="restAuthenticationProvider" class="es.upm.miw.spotify.security.RestAuthenticationProvider">
</beans:bean>

<authentication-manager alias="authenticationManager">
    <authentication-provider ref="restAuthenticationProvider"/>
</authentication-manager> 
	<!-- Select users and user_roles from database -->
	<!-- <authentication-manager>
		<authentication-provider>
			<jdbc-user-service data-source-ref="dataSource"
				users-by-username-query=
					"select u.username,u.password, u.enabled from users u where u.username=?"
				authorities-by-username-query=
					"select u.username, r.role 
					from users_roles ur 
					INNER JOIN users u ON (ur.user_id = u.id) 
					INNER JOIN role r ON (r.id = ur.userroles_id) where u.username =?  " />
		</authentication-provider>
	</authentication-manager>  -->

</beans:beans>